<!DOCTYPE html>

	<header>
		<div class="wrap_top_line">
			<div class="top_line content">
				<h1><a href="/" class="logo"><img src="/assets/logo.png" alt="badaboom"></a></h1>
<!-- 				<nav>
					<ul>
						<li><a href="pdf/badaboom.pdf" target="_blank">White Paper</a></li>
						<li><a href="#ico">ICO</a></li>
						<li><a href="#faq">FAQ</a></li>
						<li><a href="#">Блог</a></li>
					</ul>
				</nav> -->
				<div class="toggle_menu">
	                <span></span>
	            </div>
	            <div class="buttons_wrap">
	            	<a href="#" class="buy">Buy bdb</a>
					<!-- <button class="register"></button> -->
	            </div>
			</div>
		</div>
		<div class="header bounty content">
			<h2>Bounty-программа</h2>
			<p>Баунти-программа - это возможность получить свою долю монет без вклада личных средств, выполняя для данного проекта определенные действия, направленные на его популяризацию.</p>
			<p><b>Общий фонд на Bounty-программу<br/> 3% = 3 000 000 токенов</b></p>
		</div>		

	</header>
	<div class="main">
		<section class="content main_bounty">
			<h3>Репосты</h3> 
			<p>Из блога Badaboom.com/blog за создание репостов начисляется до 900 000 токенов, которые распределяются пропорционально поровну между участниками.</p>
			<table>
				<thead>
					<tr>
						<th>Place</th>
						<th>Under 500</th>
						<th>500+</th>
						<th>2000+</th>
						<th>10 000+</th>
						<th>100 000+</th>
						<th>1 000 000+</th>
					</tr>
				</thead>
					<tr>
						<th data-th="Place">Qzone</td>
						<td data-th="Under 500">2 токена</td>
						<td data-th="500+">4 токена</td>
						<td data-th="2000+">10 токенов</td>
						<td data-th="10000+">30 токенов</td>
						<td data-th="100000+">100 токенов</td>
						<td data-th="1000000+">250 токенов</td>
					</tr>
					<tr>
						<th data-th="Place">Renren</td>
						<td data-th="Under 500">2 токена</td>
						<td data-th="500+">4 токена</td>
						<td data-th="2000+">10 токенов</td>
						<td data-th="10000+">30 токенов</td>
						<td data-th="100000+">100 токенов</td>
						<td data-th="1000000+">250 токенов</td>
					</tr>
					<tr>
						<th data-th="Place">Pengyou</td>
						<td data-th="Under 500">2 токена</td>
						<td data-th="500+">4 токена</td>
						<td data-th="2000+">10 токенов</td>
						<td data-th="10000+">30 токенов</td>
						<td data-th="100000+">100 токенов</td>
						<td data-th="1000000+">250 токенов</td>
					</tr>
					<tr>
						<th data-th="Place">Facebook</td>
						<td data-th="Under 500">2 токена</td>
						<td data-th="500+">4 токена</td>
						<td data-th="2000+">10 токенов</td>
						<td data-th="10000+">30 токенов</td>
						<td data-th="100000+">100 токенов</td>
						<td data-th="1000000+">250 токенов</td>
					</tr>
					<tr>
						<th data-th="Place">Twitter</td>
						<td data-th="Under 500">2 токена</td>
						<td data-th="500+">4 токена</td>
						<td data-th="2000+">10 токенов</td>
						<td data-th="10000+">30 токенов</td>
						<td data-th="100000+">100 токенов</td>
						<td data-th="1000000+">250 токенов</td>
					</tr>
					<tr>
						<th data-th="Place">Instagram</td>
						<td data-th="Under 500">2 токена</td>
						<td data-th="500+">4 токена</td>
						<td data-th="2000+">10 токенов</td>
						<td data-th="10000+">30 токенов</td>
						<td data-th="100000+">100 токенов</td>
						<td data-th="1000000+">250 токенов</td>
					</tr>
			</table>
		
			<h3>Написание уникальных статей</h3>  
			<p>За написание в новостной ленте своего блога c ссылкой на наш landing page начисляется до 300 000 токенов, которые распределяются пропорционально поровну между участниками.</p>
			<table>
				<thead>
					<tr>
						<th>Месячная аудитория</th>
						<th>Символов 500-1000</th>
						<th>Символов 1000-2000</th>
						<th>Символов 1000-3000+</th>
					</tr>
				</thead>
					<tr>
						<th data-th="Месячная аудитория">До 10000</td>
						<td data-th="Символов 500-1000">10 токенов</td>
						<td data-th="Символов 1000-2000">20 токенов</td>
						<td data-th="Символов 1000-3000+">30 токенов</td>
					</tr>
					<tr>
						<th data-th="Месячная аудитория">10000-50000</td>
						<td data-th="Символов 500-1000">50 токенов</td>
						<td data-th="Символов 1000-2000">60 токенов</td>
						<td data-th="Символов 1000-3000+">70 токенов</td>
					</tr>
					<tr>
						<th data-th="Месячная аудитория">50000+</td>
						<td data-th="Символов 500-1000">100 токенов</td>
						<td data-th="Символов 1000-2000">110 токенов</td>
						<td data-th="Символов 1000-3000+">120 токенов</td>
					</tr>
			</table>

			<h3>Создание обзоров</h3> 
			<p>Обзоры, видео-обсуждений проекта для канала Youtube, длительностью от 3х минут. В заголовке ролика указывается ключевое слово Badaboom. При общем количестве участников программы, которые заработали до 100 000 токенов, распределение происходит по схеме, указанной в таблице. Свыше 100 000 токены распределяются между всеми участниками пропорционально поровну</p>

			<table>
				<caption>Расчет идет по количеству просмотров ролика на дату 20.10.2017</caption>
				<thead>
					<tr>
						<th>Тематика канала</th>
						<th>Кол-во до 500</th>
						<th>Кол-во до 2000</th>
						<th>Кол-во до 5000</th>
						<th>Кол-во до 10 000</th>
						<th>Кол-во до 100 000</th>
						<th>Кол-во 100 000+</th>
					</tr>
				</thead>
					<tr>
						<th data-th="Тематика канала">Финансы</td>
						<td data-th="Кол-во до 500">25</td>
						<td data-th="Кол-во до 2000">60</td>
						<td data-th="Кол-во до 5000">120</td>
						<td data-th="Кол-во до 1000">180</td>
						<td data-th="Кол-во до 100000">250</td>
						<td data-th="Кол-во 100000+">400</td>
					</tr>
					<tr>
						<th data-th="Тематика канала">Новостной</td>
						<td data-th="Кол-во до 500">20</td>
						<td data-th="Кол-во до 2000">50</td>
						<td data-th="Кол-во до 5000">100</td>
						<td data-th="Кол-во до 1000">150</td>
						<td data-th="Кол-во до 100000">200</td>
						<td data-th="Кол-во 100000+">300</td>
					</tr>
					<tr>
						<th data-th="Тематика канала">IТ сектор</td>
						<td data-th="Кол-во до 500">20</td>
						<td data-th="Кол-во до 2000">50</td>
						<td data-th="Кол-во до 5000">100</td>
						<td data-th="Кол-во до 1000">150</td>
						<td data-th="Кол-во до 100000">200</td>
						<td data-th="Кол-во 100000+">300</td>
					</tr>
					<tr>
						<th data-th="Тематика канала">Криптовалюты</td>
						<td data-th="Кол-во до 500">30</td>
						<td data-th="Кол-во до 2000">70</td>
						<td data-th="Кол-во до 5000">150</td>
						<td data-th="Кол-во до 1000">200</td>
						<td data-th="Кол-во до 100000">400</td>
						<td data-th="Кол-во 100000+">1000</td>
					</tr>
					<tr>
						<th data-th="Тематика канала">ICO</td>
						<td data-th="Кол-во до 500">30</td>
						<td data-th="Кол-во до 2000">70</td>
						<td data-th="Кол-во до 5000">150</td>
						<td data-th="Кол-во до 1000">200</td>
						<td data-th="Кол-во до 100000">400</td>
						<td data-th="Кол-во 100000+">1000</td>
					</tr>
					<tr>
						<th data-th="Тематика канала">Современные технологии</td>
						<td data-th="Кол-во до 500">20</td>
						<td data-th="Кол-во до 2000">50</td>
						<td data-th="Кол-во до 5000">100</td>
						<td data-th="Кол-во до 1000">150</td>
						<td data-th="Кол-во до 100000">200</td>
						<td data-th="Кол-во 100000+">300</td>
					</tr>
					<tr>
						<th data-th="Тематика канала">Развлечения</td>
						<td data-th="Кол-во до 500">20</td>
						<td data-th="Кол-во до 2000">50</td>
						<td data-th="Кол-во до 5000">100</td>
						<td data-th="Кол-во до 1000">150</td>
						<td data-th="Кол-во до 100000">200</td>
						<td data-th="Кол-во 100000+">300</td>
					</tr>
					<tr>
						<th data-th="Тематика канала">Гейминг</td>
						<td data-th="Кол-во до 500">20</td>
						<td data-th="Кол-во до 2000">50</td>
						<td data-th="Кол-во до 5000">100</td>
						<td data-th="Кол-во до 1000">150</td>
						<td data-th="Кол-во до 100000">200</td>
						<td data-th="Кол-во 100000+">300</td>
					</tr>
					<tr>
						<th data-th="Тематика канала">Семейный досуг</td>
						<td data-th="Кол-во до 500">20</td>
						<td data-th="Кол-во до 2000">50</td>
						<td data-th="Кол-во до 5000">100</td>
						<td data-th="Кол-во до 1000">150</td>
						<td data-th="Кол-во до 100000">200</td>
						<td data-th="Кол-во 100000+">300</td>
					</tr>
					<tr>
						<th data-th="Тематика канала">Все остальные</td>
						<td data-th="Кол-во до 500">20</td>
						<td data-th="Кол-во до 2000">50</td>
						<td data-th="Кол-во до 5000">100</td>
						<td data-th="Кол-во до 1000">150</td>
						<td data-th="Кол-во до 100000">200</td>
						<td data-th="Кол-во 100000+">300</td>
					</tr>
			</table>

			<h3>Специализированные площадки </h3> 
			<p>За публикацию оригинальных статей на международных тематических порталах выделяется до 600 000 токенов, которые распределяются по схеме, указанной в таблице. Свыше 600 000 токены распределяются между всеми участниками пропорционально поровну.	
			Например, на bitcointalk.org - в созданных ветках форума за комментарии в зависимости от рейтинга.</p>

			<h3>SMM-часть </h3> 
			<p>Создание различных тематических групп о проекте в выбранных социальных сетях, работа с агентами влияния и привлечение реальных инвесторов из этих групп. За комментарии, репосты, лайки начисляется до 900 000 токенов, свыше 900 000 токены распределяются между всеми участниками пропорционально поровну</p>

			<table>
				<caption>Награды за репосты</caption>
				<thead>
					<tr>
						<th>Place</th>
						<th>Under 500</th>
						<th>500+</th>
						<th>2000+</th>
						<th>10 000+</th>
						<th>100 000+</th>
						<th>1 000 000+</th>
					</tr>
				</thead>
					<tr>
						<th data-th="Place">Qzone</td>
						<td data-th="Under 500">1,5 токена</td>
						<td data-th="500+">3 токена</td>
						<td data-th="2000+">7 токенов</td>
						<td data-th="10000+">10 токенов</td>
						<td data-th="100000+">16 токенов</td>
						<td data-th="1000000+">30 токенов</td>
					</tr>
					<tr>
						<th data-th="Place">Renren</td>
						<td data-th="Under 500">1,5 токена</td>
						<td data-th="500+">3 токена</td>
						<td data-th="2000+">7 токенов</td>
						<td data-th="10000+">10 токенов</td>
						<td data-th="100000+">16 токенов</td>
						<td data-th="1000000+">30 токенов</td>
					</tr>
					<tr>
						<th data-th="Place">Pengyou</td>
						<td data-th="Under 500">1,5 токена</td>
						<td data-th="500+">3 токена</td>
						<td data-th="2000+">7 токенов</td>
						<td data-th="10000+">10 токенов</td>
						<td data-th="100000+">16 токенов</td>
						<td data-th="1000000+">30 токенов</td>
					</tr>
					<tr>
						<th data-th="Place">Facebook</td>
						<td data-th="Under 500">1,5 токена</td>
						<td data-th="500+">3 токена</td>
						<td data-th="2000+">7 токенов</td>
						<td data-th="10000+">10 токенов</td>
						<td data-th="100000+">16 токенов</td>
						<td data-th="1000000+">30 токенов</td>
					</tr>
					<tr>
						<th data-th="Place">Twitter</td>
						<td data-th="Under 500">1,5 токена</td>
						<td data-th="500+">3 токена</td>
						<td data-th="2000+">7 токенов</td>
						<td data-th="10000+">10 токенов</td>
						<td data-th="100000+">16 токенов</td>
						<td data-th="1000000+">30 токенов</td>
					</tr>
					<tr>
						<th data-th="Place">Instagram</td>
						<td data-th="Under 500">1,5 токена</td>
						<td data-th="500+">3 токена</td>
						<td data-th="2000+">7 токенов</td>
						<td data-th="10000+">10 токенов</td>
						<td data-th="100000+">16 токенов</td>
						<td data-th="1000000+">30 токенов</td>
					</tr>
			</table>

			<p>После покупки токенов, их можно либо тратить внутри сети, либо продавать на бирже. Все участники ICO, имеющие свой кошелек, могут принимать и отправлять монеты (BadaboomToken), участвовать в лотереях, розыгрышах и  т.д.  </p>

			<div class="wrap-download">
				<div></div>
				<a  class="download"  href="pdf/badaboom.pdf" target="_blank">Скачать White Paper</a>
				<div></div>
			</div>
			<div class="wrap-subscribe">
				<p>Подпишись на наши обновления <br />
				Вы точно не пропустите дату старта на PRE-ICO</p>
				<div class="subscribe">
					<form action="javascript:void(null);" onsubmit="call()" class="subscribe_email">
						<input class="text_light" type="email" placeholder="Введите Ваш email" name="email" required>
						<button>отправить</button>
					</form>
				</div>
			</div>

			

		</section>
		
	</div>
	<footer>
		<div class="wrap_footer content">
			<div class="footer_nav">
				<a href="index.html" class="logo"><img src="img/logo.png" alt="logo"></a>
				<!-- <ul>
					<li><a href="pdf/badaboom.pdf" target="_blank">White Paper</a></li>
					<li><a href="#ico">ICO</a></li>
					<li><a href="#faq">FAQ</a></li>
				</ul> -->
			</div>
			<div class="links">
				<p>Ссылки</p>
				<ul>
					<li><a href="#">Условия использования Соглашение</a></li>
				</ul>
			</div>
			<div class="social">
				<p>Социальные сети</p>
				<ul>
					<li><a href="https://www.youtube.com/"><i class="fa fa-youtube-play"></i></a></li>
					<li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
					<li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="copyright">
			<h6>Corporation Clitch 2017</h6>
		</div>
	</footer>


